.emblem{
  position: absolute;
  top:      0%;
  background-image: url("../../../public/key.svg");
  background-repeat: no-repeat;
  background-size: 114% 90%;
  padding-bottom: 5%;
  color:#f33f3f;
  text-align: center;
  line-height: 4.2rem;
  font-size:   3rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}